- const initialInput = 'peace';
- const initialColour = '#fed84d';
- const maxAmount = 200;

doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
  head
  include head.pug

  body

    span(itemprop="image", itemscope, itemtype="image/jpeg")
      link(itemprop="url",href="https://express-snow-quotes.rolandjlevy.repl.co/images/app-image-256-256.jpg")

    img(src="images/app-image-256-256.jpg", class="hidden")

    .wrapper
      main.container
        h1 Snow Quotes
        form(method="post" action="/snow")
          label(
            for="letters"
            class="m-b-10"
          ) Enter letters &amp; number for symbols
          input(
            type="text"
            class="letters m-b-5"
            name="letters"
            id="letters"
            value=`${initialInput}`
            autocomplete="off"
            placeholder=""
            maxlength="20"
            required
          )
          .display-text.m-b-20 #{initialInput}
          .fieldset
            section.section-m-r-5.m-b-20
              label(
                for="quantity"
                class="m-b-10"
              ) Enter amount: 1-200
              input(
                type="number"
                class="quantity"
                name="quantity"
                id="quantity"
                value="100"
                min="1"
                max=`${maxAmount}`
                autocomplete="off"
                placeholder=""
                required
              )
            section.colour-row.section-m-l-5.m-b-20
              span.colour-group.width-50
                label(
                  for="colour"
                  class="m-b-10"
                ) Select colour
                input(
                  type="color" 
                  class="colour m-b-30"
                  name="colour"
                  value=`${initialColour}`
                  id="colour"
                )
              span.colour-group.width-50.m-l-10
                label(
                  for="multi-colour"
                  class="m-b-10"
                ) Multiple colours
                input(
                  type="button"
                  class="btn multicolour m-b-30"
                  id="multi-colour"
                )
                input(
                  type="hidden"
                  name="multicolour"
                  value="0"
                )
          .fieldset
            section.section-m-r-5.m-b-20
              a(
                type="button"
                class="btn start"
              ) 
                span START SNOW QUOTES&nbsp;
                span(
                  class="snowflake-icon"
                ) I

            section.section-m-l-5.m-b-20
              input(
                type="text"
                class="hidden url"
              )

              a.section-m-r-10.width-25.m-b-10(
                type="button"
                class="btn copy"
              )
                i(class="fas fa-copy")

              a.section-m-r-10.width-25.m-b-10(
                type="button"
                class="btn icon whatsapp"
                target="_blank"
              )
                i(class="fab fa-whatsapp")

              a.section-m-r-10.width-25.m-b-10(
                type="button"
                class="btn icon twitter"
                target="_blank"
              )
                i(class="fab fa-twitter")

              a.width-25.m-b-10(
                type="button"
                class="btn icon facebook"
                target="_blank"
              )
                i(class="fab fa-facebook")

        .toast-message.none 
          span.m-r-5 Copied to clipboard for sharing&nbsp;
            i(class="fas fa-check")

    footer
      p.text-center &copy; Roland Levy 2020 
        a(
          href="https://rolandlevy.co.uk"       
          class="new-tab-icon" 
          target="_blank"
        ) see more of my projects</a>

    script
      include ../public/scripts/utils.js
      
    script
      include ../public/scripts/index.js