- const initialInput = 'T]SRN';

doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
  head
  include head.pug

  body
    main.wrapper
      h1 Snow Quotes
      form(method="post" action="/snow")
        label(
          for="letters"
          class="m-b-10"
        ) Shapes
        input(
          type="text"
          class="letters m-b-20"
          name="letters"
          id="letters"
          value=`${initialInput}`
          autocomplete="off"
          placeholder=""
          required
        )
        .fieldset.m-b-20
          section.m-r-5
            label(
              for="quantity"
              class="m-b-10"
            ) Quantity
            input(
              type="number"
              class="quantity"
              name="quantity"
              id="quantity"
              value="150"
              min="1"
              max="500"
              autocomplete="off"
              placeholder=""
              required
            )
          section.m-l-5
            label(
              for="colour"
              class="m-b-10"
            ) Colour
            input(
              type="color" 
              class="colour m-b-20"
              name="colour"
              id="colour"
              value="#d0d0e0"
              style="display:block;"
            )
        .fieldset.m-b-20
          section.m-r-5
            button(
              type="submit"
              class="btn go"
            ) Go!
          section.m-l-5
            button(
              type="button"
              class="btn create"
            ) 
              span.m-r-5 Get link
              i(class="fas fa-link")
          
            .link
          
      // div.display #{initialInput}
      
    script
      include ../public/index.js