- const initialInput = 'Peace2020';
- const initialColour = '#d0d0e0';
- const maxAmount = 200;

doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
  head
  include head.pug

  body
    main.wrapper
      h1 Snow Quotes
      form(method="post" action="/snow")
        label(
          for="letters"
          class="m-b-10"
        ) Enter letters &amp; number for symbols
        input(
          type="text"
          class="letters m-b-10"
          name="letters"
          value=`${initialInput}`
          autocomplete="off"
          placeholder=""
          maxlength="20"
          required
        )
        input(
          type="text"
          class="display m-b-30"
          name="display"
          value=`${initialInput}`
          autocomplete="off"
          placeholder=""
          tabindex="-1"
          readonly
        )
        .display-text.m-b-30 #{initialInput}
        .fieldset
          section.section-m-r-5.m-b-20
            label(
              for="quantity"
              class="m-b-10"
            ) Enter amount: 1-200
            input(
              type="number"
              class="quantity"
              name="quantity"
              value="100"
              min="1"
              max=`${maxAmount}`
              autocomplete="off"
              placeholder=""
              required
            )
          section.section-m-l-5.m-b-20
            label(
              for="colour"
              class="m-b-10"
            ) Select colour
            input(
              type="color" 
              class="colour m-b-30"
              name="colour"
              value=`${initialColour}`
              style="display:block;"
            )
        .fieldset
          section.section-m-r-5.m-b-20
            a(
              type="button"
              class="btn start"
            ) 
              span START SNOW QUOTES&nbsp;
              span(
                class="snowflake-icon"
              ) I
          section.section-m-l-5.m-b-20
            input(
              type="text"
              class="hidden url"
            )

            a.section-m-r-10.width-33.m-b-10(
              type="button"
              class="btn copy"
            ) 
              span COPY &nbsp;
              i(class="fas fa-copy")

            a.section-m-r-10.width-33.m-b-10(
              type="button"
              class="btn twitter"
              target="_blank"
            ) 
              span TW &nbsp;
              i(class="fab fa-twitter")

            a.width-33.m-b-10(
              type="button"
              class="btn facebook"
              target="_blank"
            ) 
              span FB &nbsp;
              i(class="fab fa-facebook")

      .toast-message.none 
        span.m-r-5 Settings copied to clipboard for sharing&nbsp;
          i(class="fas fa-check")
      
    script
      include ../public/scripts/utils.js
      
    script
      include ../public/scripts/index.js