- const initialInput = 'Example123';
- const initialColour = '#d0d0e0';
- const maxAmount = 200;

doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
  head
  include head.pug

  body
    main.wrapper
      h1 Snow Quotes
      form(method="post" action="/snow")
        label(
          for="letters"
          class="m-b-10"
        ) Enter any letter or number for symbols
        input(
          type="text"
          class="letters m-b-10"
          name="letters"
          value=`${initialInput}`
          autocomplete="off"
          placeholder=""
          required
        )
        input(
          type="text"
          class="display m-b-30"
          name="display"
          value=`${initialInput}`
          autocomplete="off"
          placeholder=""
          tabindex="-1"
          readonly
        )
        .fieldset.m-b-20
          section.m-r-5
            label(
              for="quantity"
              class="m-b-10"
            ) Enter a number: 1-200
            input(
              type="number"
              class="quantity"
              name="quantity"
              value="100"
              min="1"
              max=`${maxAmount}`
              autocomplete="off"
              placeholder=""
              required
            )
          section.m-l-5
            label(
              for="colour"
              class="m-b-10"
            ) Select a colour
            input(
              type="color" 
              class="colour m-b-30"
              name="colour"
              value=`${initialColour}`
              style="display:block;"
            )
        .fieldset.m-b-20
          section.m-r-5
            a(
              type="button"
              class="btn start"
            ) 
              span Begin Snow 
              span(
                class="snowflake-icon"
              ) ❄️
          section.m-l-5
            input(
              type="text"
              class="hidden url"
            )
            a(
              type="button"
              class="btn copy"
            ) 
              span.m-r-5 Copy Link
              i(class="fas fa-copy")

      .toast-message.none 
        span.m-r-5 Settings copied to clipboard for sharing 
          i(class="fas fa-check")
      
    script
      include ../public/scripts/utils.js
      
    script
      include ../public/scripts/index.js