- const randomNum = (min, max) => Math.floor(Math.random() * (max - min + 1) + min);
- const randomItem = (arr) => arr[Math.floor(Math.random() * arr.length)];
- const dir = [1, -1];
- const lettersArr = letters.split('');
- let n = 0;

doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
  head
  include head.pug

  body
    while n < Number(quantity)
      - const size = randomNum(10, 40);
      - const opacity = parseFloat(randomNum(3, 7) / 10);
      - const x = randomNum(0, 100);
      - const y = randomNum(50, 100);
      - const duration = randomNum(5, 30);
      - const delay = randomNum(0, duration);
      - colourType = Number(multicolour) ? colours.randomHexString() : colour;
      - n++;
      div(class="snowflake" style=`--size:${size}; --x:${x}; --y:${y}; --opacity:${opacity}; --dir:${randomItem(dir)}; --duration:${duration}; --delay:${delay}; --colour:${colourType}` id=`${n}`) 
        span.inner #{randomItem(lettersArr).toUpperCase()}

    img(
      src="images/app-image.png"
      class="hidden"
    )

    .tooltip

    input(
      type="text"
      class="hidden quote-text"
    )
    
    .toast-message.none 
      span.m-r-5 Quote copied to clipboard&nbsp;
      i(class="fas fa-check")

    script.
      const quotesApiUrl = !{JSON.stringify(baseUrl)};

    script
      include ../public/scripts/utils.js
      
    script
      include ../public/scripts/snow.js